In [28]:
student = {"name": "John", "age": 25, "courses": ['Math', 'Com Sci']}

# print(student['courses'])
# print(student['name'])
# print(student.get('phone', 'Not Found!'))


# student['name'] = 'Damilola' #This updated the name key
# student['phone'] = '+23480223211111116' #This searches for a phone key, since it's not found, it's created one

# print(student)

# student.update({'name': 'Shola', 'phone': '123456'})
# print(student)


# del student['name'] #Deletes the name key and it's value
# popped = student.pop('age') #deletes the age key and it's value in the dictionary

# print(student)
# print(popped)

# print(student.keys())
# print(student.values())
# print(student.items())


for key, value in student.items():
    for courses in student['courses']:
        print(courses)
    print(key, value)

Math
Com Sci
name John
Math
Com Sci
age 25
Math
Com Sci
courses ['Math', 'Com Sci']

In [39]:
foods = ['Rice', 'Spaghetti', 'Semo', 'Beans', 'Garri']

print(foods[0])
print(foods[-1])
print(foods[1:])

new_food = ['Vegetable', 'Jollof']
foods.extend(new_food)

foods.remove('Jollof')

print(foods)

Rice
Garri
['Spaghetti', 'Semo', 'Beans', 'Garri']
['Rice', 'Spaghetti', 'Semo', 'Beans', 'Garri', 'Vegetable']

In [100]:
numbers = [4, 1, 8, 3, 9, 2]

numbers.sort()
print(numbers)

print(max(numbers))
print(min(numbers))


calc_sum = [4, 5, 10, 20, 2, 8, 7, 9, 2, 11]
total_count = 0

for num in calc_sum:
    total_count += num
print(total_count)

for num in calc_sum:
    total_count = sum(calc_sum)
print(total_count)

[1, 2, 3, 4, 8, 9]
9
1
78
78

In [60]:
bio_data = ('Ayo', 18, 'Black')

print(bio_data[1])

t = (10, 20, 30, 40)
new_list = list(t)

print(new_list)
new_list.append(15)
new_tuple_list = tuple(new_list)

print(new_list)
print(new_tuple_list)

18
[10, 20, 30, 40]
[10, 20, 30, 40, 15]
(10, 20, 30, 40, 15)

In [98]:
random_number = {4, 10, 20, 45, 19}
print(random_number)

random_number.add(200)
random_number.add(200)
print(sorted(random_number))

a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

print(a.union(b))
print(a.intersection(b))
print(a.difference(b))

{19, 4, 20, 10, 45}
[4, 10, 19, 20, 45, 200]
{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

In [97]:
new_student = {"name": "Alice", "age": 25, "grade": "A"}

print(new_student['grade'])

new_student['courses'] = ['Python', 'Math']
print(new_student)

new_student['age'] = 26

for key, values in new_student.items():
    print(key, values)

prices = {
        "apple": 100,
        "banana": 40,
        "orange": 80
    }

print(prices.get(input().lower(), "Not Found!"))

A
{'name': 'Alice', 'age': 25, 'grade': 'A', 'courses': ['Python', 'Math']}
name Alice
age 26
grade A
courses ['Python', 'Math']
100

In [ ]:
students = {
    "Ayo": [80, 90, 75],
    "Bola": [60, 65, 70],
    "Tunde": [88, 79, 93]
}


for student, score in students.items():
    print(f"Name: {student} : Score: {score}")

print()

for name, score in students.items():
    print(f"Name: {name} : Avg score: {sum(score) / len(score):.2f}")

students['Shola'] = [76, 87, 90]
students['Ayo'] = [79, 89, 76]

print()
for name, score in students.items():
    average_score = round(sum(score) / len(score), 1)
    if average_score > 80:
        print(f"Name: {name} : Avg Score: {average_score}")

Name: Ayo : Score: [80, 90, 75]
Name: Bola : Score: [60, 65, 70]
Name: Tunde : Score: [88, 79, 93]

Name: Ayo : Avg score: 81.67
Name: Bola : Avg score: 65.00
Name: Tunde : Avg score: 86.67

Name: Ayo : Avg Score: 81.3
Name: Tunde : Avg Score: 86.7
Name: Shola : Avg Score: 84.3

In [ ]:
sentence = "I love learning python because python makes me think better"
list_sentence = sentence.split(" ")
print(list_sentence)

['I', 'love', 'learning', 'python', 'because', 'python', 'makes', 'me', 'think', 'better']